
/*

our color palette

accent: #FB8C00

background-grey: #FAFAFA

light-grey: #E0E0E0

mid-grey: #9E9E9E

dark-grey: #212121

*/

body {
    padding: 20px 40px;
    background: #fafafa;
    color: #212121;
}

.logo {
    font-family: Courier, monospace;
    font-size: 2em;
    color: #212121;
    font-weight: 700;
    text-decoration: none;
    transition: color 0.5s ease
}

.logo:hover {
    color: #FAFAFA
}

.header {
    height: 62px;
    background: #FB8C00;

    margin: -20px -40px 0;
    padding: 20px 40px 0;
}


.nav__item {
    padding: 12px;
    margin: 6px;
    text-decoration: none;
    color: #212121;
    transition: background 0.2s linear
}

.nav__item:hover{
    background: #fafafa;
}


.hero {
    margin: 0 -40px;
    padding: 0 40px;
    
    background: #FB8C00;

    height: 50vh;
}

.hero__text {
    height: 60%;
}

.hero__image-container {
    max-height: 400px;
    overflow-y: hidden;
    padding-top: 10px
}

.hero__image {
    width: 100%;
    height: auto;
    box-shadow: 0px 0 10px 4px rgba(0,0,0,0.2);
}


.button {
    border: 1px solid #e0e0e0;
    background: #FAFAFA;
    padding: 10px 12px;
    text-decoration: none;
    color: #212121;
    transition: background 0.2s linear
}

.button:hover{
    background: #e0e0e0;
}

.button:active {
    border: 1px solid #212121;
}

.button--primary{

}

.size {
    color: #9E9E9E 
}

.features {
    min-height: 200px;

}

.features__item {
    font-size: 1.25em;
    text-align: center;
}

.footer {
    color: #9E9E9E
}
